.loader{
    position:fixed;
    inset:0;
    background:#050505;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:99999;
}

.loader-logo{
    width:170px;
    filter:drop-shadow(0 0 20px #2b8cff);
    animation:
    float 2s ease-in-out infinite,
    glow 1.8s infinite alternate;
}

@keyframes float{

0%,100%{
transform:translateY(0);
}

50%{
transform:translateY(-12px);
}

}

@keyframes glow{

from{
filter:drop-shadow(0 0 10px #1f6fff);
}

to{
filter:drop-shadow(0 0 35px #39ffb6);
}

}